---
name: bus app
on:
  push:
    branches:
      - main
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: temurin
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn clean package
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest
      - name: Configure JFrog CLI
        run: |
          jfrog config add artifactory-server \
            --url "https://yashusn.jfrog.io" \
            --access-token "${{ secrets.JFROG_API_KEY }}" \
            --interactive=false
      - name: Upload WAR to JFrog
        run: >
          TIMESTAMP=$(date +%Y%m%d%H%M%S)


          jfrog rt upload "target/*.war" "busapplication-libs-release/bus-booking-app-1.0/${TIMESTAMP}/" \

          --server-id=artifactory-server \

          --flat=true \

          --detailed-summary=true
