name: bus app

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        
      - name: Install Jfrog CLI
        run: |
          curl -fL https://getcli.jfrog.io | sh
          ./jfrog --version

      - name: Configure Jfrog CLI
        run: |
          ./jfrog config add jfrog \
            --url "${{ secrets.JFROG_URL }}" \
            --user "${{ secrets.JFROG_USER }}" \
            --password "${{ secrets.JFROG_API_KEY }}" \
            --interactive=false

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean install

      - name: Show JFrog servers
        run: ./jfrog config show

      - name: upload JAR to JFROG
        run: |
          ./jfrog rt u \
            "target/bus-booking-app-1.0-SNAPSHOT.jar" \
            "new-app-libs-release/bus-app/1.0.0/" \
            --server-id=jfrog


      # - name: Upload JAR to artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: bus-booking-app
      #     path: target/bus-booking-app-1.0-SNAPSHOT.jar

      # - name: Run Spring Boot App
      #   run: mvn spring-boot:run &
      #   env:
      #     SPRING_PROFILES_ACTIVE: "test"

      # - name: Validate App is Running
      #   run: |
      #     echo "Waiting for the app to start..."
      #     sleep 15
      #     echo "Checking if the app is running..."
      #     RESPONSE=$(curl --write-out "%{http_code}" --silent --output /dev/null http://localhost:8080)
      #     if [ "$RESPONSE" -eq 200 ]; then
      #       echo "The app is running successfully!"
      #     else
      #       echo "The app failed to start. HTTP response code: $RESPONSE"
      #       exit 1
      #     fi

      # - name: Wait for 2 minutes
      #   run: |
      #     echo "App will run for 2 minutes..."
      #     sleep 120

      # - name: Gracefully Stop Spring Boot App
      #   run: |
      #     echo "Stopping the app gracefully..."
      #     mvn spring-boot:stop
